.scroll.area{display:block;overflow:hidden;position:absolute}.scroll.bar{position:absolute;top:0;right:0;width:8px}.scroll.bar .thumb{position:absolute;top:0;right:0;width:8px;height:8px}

/*  scroll.js v0.1.0, 2014.12.09  */
