.scroll{display:block;overflow:auto;visibility:hidden}.scroll>.area{position:relative;overflow:auto;visibility:visible;z-index:1}.scroll+.bar{background:rgba(33,33,33,0.3);display:block;position:relative;float:left;left:0;margin-left:-8px;opacity:.2;width:8px;visibility:hidden;z-index:2}.scroll+.bar>.thumb{background:#800;border-radius:3px;position:absolute;top:0;right:1px;width:6px;height:8px}.scroll:hover+.bar{opacity:.8}

/*  scroll.js v0.2.1, 2014.12.11  */
