body{font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;font-size:12px}article{clear:both;float:none;padding:.2em 1em}.scroll{float:left;width:25%;height:400px}.scroll>.area.test1{background:#f2e4d8}.scroll>.area.test1.scroll.area+.bar{background:#808ca6}.scroll>.area.test1.scroll.area+.bar .thumb{background:#283d59}

/*  scroll.js v0.3.0, 2014.12.12  */
