body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.scroll {
    float: left;
    width: 20%;
    height: 400px;

    > .area {
        padding: .2em 1em;
        &.test1 {
            background: #F2E4D8;

            &.scroll.area + .bar {
                background: #808CA6;
                .thumb {
                    background: #283D59;
                }
            }
        }
    }
}
