- var home = '..';

doctype html
html
    include ../head.jade

    body
        #scrolly

        script(src=home + '/js/react.js')
        script(src=home + '/js/react-dom.js')
        script(src=home + '/js/react-scrolly.js')
        script(src=home + '/js/react-scrolly-test.js')
        script.
            ReactDOM.render(
                React.createElement(ScrollyTest),
                document.getElementById('scrolly')
            );

            if (window.location.hostname === 'localhost') {
                document.write('<script src="http://localhost:35729/livereload.js"></' + 'script>');
            }
