p Add some more Text into scroll area:
   =' '
   button#setSmall.test3 Small
   button#setMiddle.test2 Medium
   button#setLarge.test1 Large
   =' - '
   button#setSmall.clear Clear
   =' - '
   button#setSmall.dispose Dispose
   =' - '
   a(href=home + '/react/') React Demo
   =', '
   a(href='https://github.com/annexare/scrolly.js') View on GitHub
