p Add some more Text into scroll area:
   =' '
   button#setSmall.test3 Small
   button#setMiddle.test2 Medium
   button#setLarge.test1 Large
   =' - '
   button#setSmall.clear Clear Text
   =' - '
   button#setSmall.dispose Dispose One
   =' - '
   a(href='https://github.com/annexare/scrolly.js.git') View on GitHub
